

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<style>
    .input-container {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center horizontally */
    }
</style>

    <style>
        .mt-2rem {
            margin-top: 1.9rem;
        }
    </style>


@* <div class="row" style="flex-wrap: nowrap;">
    <div class="col-md-4 col-sm-6 input-container">
        <label for="tenantid" class="form-label">AZURE TENANT ID</label>
        <input type="text" class="form-control" id="tenantid" required />
    </div>

    <div class="col-md-4 col-sm-6 input-container">
        <label for="clientid" class="form-label">AZURE CLIENT ID</label>
        <input type="text" class="form-control" id="clientid" required />
    </div>

    <div class="col-md-4 col-sm-6 input-container">
        <label for="clientsecret" class="form-label">AZURE CLIENT SECRET</label>
            <input type="text" class="form-control" id="clientsecret" required />
    </div>

    <div class="col-md-4 mt-2rem">
        <input type="button" class="form-control btn btn-primary" id="btngetSubscription" value="Get Subscriptions"></input>
    </div>
</div>
<br /> *@


<div class="row">

    <div class="col">
        <div class ="row dropdown d-inline">
            <h5 class="d-inline">Subscriptions : </h5><div class="dropdown d-inline "><select id="selSubscription"></select></div>
        </div>
        <div class="spinner-border" id="SubsSpinner" role="status" style="display: none">
            <span class="visually-hidden">Loading...</span>
        </div>
        <br />
        <br />

        <div class="row dropdown d-inline">
            <h5 class="d-inline">Resource Groups : </h5><div class="dropdown d-inline"><select id="selResource"></select></div>
        </div>
        <div class="spinner-border" id="ResSpinner" role="status" style="display: none">
            <span class="visually-hidden">Loading...</span>
        </div>
        <br />
        <br />

        <div class="row dropdown d-inline">
            <h5 class="d-inline">Virtual Machines : </h5><div class="dropdown d-inline"><select id="selVM"></select></div>
        </div>
        <div class="spinner-border" id="VMSpinner" role="status" style="display: none">
            <span class="visually-hidden">Loading...</span>
        </div>
        <br />
        <br />

        <div class="row">
            <div class="col" id="vmtabledata"></div>
        </div>
        <br />

        <div class="row">
            <div class="col"><h3>Utilization</h3></div>
        </div>

    </div>

    <div class="col">
        <div class="dropdown d-inline">
            <h5 class="d-inline">Recommended virtual Machines : </h5><div class="dropdown d-inline"><select id="selRecVM"></select></div>
        </div>

        <div class="spinner-border" id="RecVMSpinner" role="status" style="display: none">
            <span class="visually-hidden">Loading...</span>
        </div>
        
        <div>
            <div class="row" style="margin:2%">
                <div class="col" id="RecVMTableData"></div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="dropdown d-inline">
            <h5 class="d-inline">Available virtual Machines for Camparison : </h5><div class="dropdown d-inline"><select id="selAvVM"></select></div>
        </div>

        <div class="spinner-border" id="AvVMSpinner" role="status" style="display: none">
            <span class="visually-hidden">Loading...</span>
        </div>

        <div class="row" style="margin:2%">
            <div class="col" id="VMTableData"></div>
        </div>
    </div>

</div>




<script type="text/javascript">
    $(document).ready(function () {
            // Attach click event to the "Get Subscriptions" button
           // $('#btngetSubscription').click(function () {
                var tenantid = $('#tenantid').val();
                var clientid = $('#clientid').val();
                var clientsecret = $('#clientsecret').val();

                // if (!tenantid || !clientid || !clientsecret) {
                //     alert("Please enter all three values.");
                //     return;
                // }

                $('#SubsSpinner').show();

                $.ajax({
                    url: '@Url.Action("GetTenantSubscription", "Home")',
                    data: { tenantid: tenantid, clientid: clientid, clientsecret: clientsecret },
                    type: "GET"
                }).done(function (response) {
                    myoptions = response.value;
                    console.log(myoptions);
                    var mySelect = $('#selSubscription');
                    mySelect.empty(); // Clear existing options
                    mySelect.append('<option value="">Choose Subscription</option>');

                    $.each(myoptions, function (index, subscription) {
                        mySelect.append(
                            $('<option></option>').val(subscription.subscriptionId).html(subscription.subscriptionId + "(" + subscription.displayName + ")")
                        );
                    });

                    $('#SubsSpinner').hide();
                    console.log("Done");
                });

            //     return false;
            // });





            // Function to fetch resource groups
            function fetchResourceGroups(selectedSubscriptionId) {
                $('#ResSpinner').show();

                $.ajax({
                    url: '@Url.Action("GetResourceGroups", "Home")',
                    data: { subscriptionId: selectedSubscriptionId },
                    type: "GET"
                }).done(function (response) {
                    console.log(response);
                var resourceGroupOptions = response.value;
                    //console.log(resourceGroupOptions);
                    var resourceGroupSelect = $('#selResource');
                    resourceGroupSelect.empty(); // Clear existing options
                    resourceGroupSelect.append('<option value="">Select Resource Group</option>');

                    $.each(resourceGroupOptions, function (index, resourceGroup) {
                        resourceGroupSelect.append(
                            $('<option></option>').val(resourceGroup.id).html(resourceGroup.name + "(" + resourceGroup.location + ")")
                        );
                    });

                    $('#ResSpinner').hide();
                    console.log("Done");
                });
            }

            // Attach change event to the subscription dropdown
            $('#selSubscription').change(function () {
                var selectedSubscriptionId = $(this).val();

                if (selectedSubscriptionId) {
                    fetchResourceGroups(selectedSubscriptionId);
                }
            });





            //this function is used for fetching Virtual Machines
            function fetchVirtualMachines(selectedResourceGroup) {
                $('#VMSpinner').show();
            var selectedSubscriptionId = $('#selSubscription').val();
                $.ajax({
                    url: '@Url.Action("GetVirtualMachines", "Home")',
                data: { subscriptionId: selectedSubscriptionId, resourceGroups: selectedResourceGroup },
                    type: "GET"
                }).done(function (response) {
                    if (response) {
                        console.log(response);
                        var VMOptions = response.value;
                        var VMSelect = $('#selVM');
                        //console.log(VMOptions);
                        VMSelect.empty(); // Clear existing options
                        VMSelect.append('<option value="">Select Virtual Machine</option>');

                        $.each(VMOptions, function (index, virtualMachine) {
                            VMSelect.append(
                                $('<option></option>').val(virtualMachine.id).html(virtualMachine.name)
                            );
                        });
                    }
                    else {
                        console.error("Invalid server response:", response);
                        alert("Invalid server response. Please try again later.");
                    }
                    $('#VMSpinner').hide();
                    console.log("Done");
                });
            }


            $('#selResource').change(function () {
                var selectedResourceGroup = $('#selResource').val();
                $('#VMSpinner').show();

                if (selectedResourceGroup) {
                    fetchVirtualMachines(selectedResourceGroup);
                }
             });




         // this is to display table when fetched Virtual Machine is selected...
        $('#selVM').change(function () {
            $('#VMSpinner').show();

            var selectedResourceGroups = $('#selResource').val();
            var selectedSubscriptionId = $('#selSubscription').val();
            var selectedVirtualMachine = $('#selVM').val();

            var vmUserDescriptiontabledata = $('#vmUserDescriptiontabledata');
            vmUserDescriptiontabledata.html('');

            var vmtabledata = $('#vmtabledata');
            vmtabledata.html('');


            $.ajax({
                url: '@Url.Action("GetVirtualMachinesTableData", "Home")',
                data: { subscriptionId: selectedSubscriptionId, resourceGroups: selectedResourceGroups, selectedVirtualMachine: selectedVirtualMachine },
                type: "GET"
            }).done(function (response) {
                console.log(response);
                    var myoptions = response.items;
                //console.log(myoptions);
                    var Html = '<div class="row"> <table class="table"> <tr> <th>Type</th> <th>Product Name</th> <th>Reservation Term</th> <th>Monthly Retail Price</th> <th>Region Name</th> </tr>';
                    $.each(myoptions, function (index, item) {
                    
                    if (item.type == "DevTestConsumption") {
                            item.type = "Consumption";
                        }
                        if (item.type == "Consumption") {
                            reservationterm = "monthly";
                        }
                        else { 
                                reservationterm = item.reservationTerm;
                        }
                    if (item.productName.indexOf("Windows") == -1) {
                        Html += '<tr><td>' + item.type + '</td><td>Linux</td><td>' + reservationterm + ' </td><td>$' + item.retailPrice + '</td><td>' + item.armRegionName + ' </td></tr> ';
                    }
                    else {
                        Html += '<tr><td>' + item.type + '</td><td>Windows</td><td>' + reservationterm + ' </td><td>$' + item.retailPrice + '</td><td>' + item.armRegionName + ' </td></tr> ';
                    }
                    //Html += '<tr><td>' + item.type + '</td> <td>Windows</td> <td>' + reservationTerm + '</td> <td>$' + item.retailPrice + '</td> <td>' + item.armRegionName + '</td> </tr>';
                    
                    });
                    Html += '</table></div>';
                    vmtabledata.html(Html);


                $('#VMSpinner').hide();
                console.log("Done");
            });
        });




        //this is to populate dropdown with Available Virtual Machine when subscriptionId is selected...
        $('#selSubscription').change(function () {
            $('#AvVMSpinner').show();
            var selectedSubscriptionId = $('#selSubscription').val();
            var selectedVM = $('#selAvVM').val();

            $.ajax({
                url: '@Url.Action("GetAvailableVirtualMachines", "Home")',
                data: { subscriptionId: selectedSubscriptionId },
                type: "GET"
            }).done(function (response) {
                if (response) {
                    var VMOptions = response.value;
                    console.log(VMOptions);
                    
                    var VMSelect = $('#selAvVM');
                    VMSelect.empty();
                    VMSelect.append('<option value="">Select</option>');
                   
                    $.each(VMOptions, function (index, availableVM) {
                        VMSelect.append($('<option></option>').val(availableVM.name).html(availableVM.name));
                    });

                }
                else {
                    console.error("Invalid server response:", response);
                    alert("Invalid server response. Please try again later.");
                }

                $('#AvVMSpinner').hide();
                console.log("Done");
            });
        });



        // this is to display table data when available VM is selected....
        $('#selAvVM').change(function () {
            var selectedAvailableVirtualMachine = $('#selAvVM').val();

            var VMTableData = $('#VMTableData');
            VMTableData.html('');

                $.ajax({
                url: '@Url.Action("GetAvailableVirtualMachinesTableData", "Home")',
                data: { selectedAvailableVirtualMachine: selectedAvailableVirtualMachine },
                    type: 'GET'
                }).done(function (response) 
                {
                    if (response) 
                    {
                        console.log(response);
                        var myoptions = response.items;
                        //console.log(myoptions);
                        var Html = '<div class="row"> <table class="table"> <tr> <th>Type</th> <th>Product Name</th> <th>Reservation Term</th> <th>Monthly Retail Price</th> <th>Region Name</th> </tr>';
                        $.each(myoptions, function (index, item) {

                        if (item.type == "DevTestConsumption") {
                            item.type = "Consumption";
                        }
                        if (item.type == "Consumption") {
                            reservationterm = "monthly";
                        }
                        else {
                            reservationterm = item.reservationTerm;
                        }
                        if (item.productName.indexOf("Windows") == -1) {
                            Html += '<tr><td>' + item.type + '</td><td>Linux</td><td>' + reservationterm + ' </td><td>$' + item.retailPrice + '</td><td>' + item.armRegionName + ' </td></tr> ';
                        }
                        else {
                            Html += '<tr><td>' + item.type + '</td><td>Windows</td><td>' + reservationterm + ' </td><td>$' + item.retailPrice + '</td><td>' + item.armRegionName + ' </td></tr> ';
                        }
                        });
                        Html += '</table></div>';
                    VMTableData.html(Html);
                    }
                    else {
                        console.error("Error fetching VM data.");
                        alert("Error fetching VM data. Please try again later.");
                    }
                });
        });



        //this is to populate dropdown with Recommended Virtual Machine when subscriptionId is selected...
        $('#selVM').change(function () {
           $('#RecVMSpinner').show();
            var selectedSubscriptionId = $('#selSubscription').val();

            $.ajax({
                url: '@Url.Action("GetRecommnededVirtualMachines", "Home")',
                data: { subscriptionId: selectedSubscriptionId },
                type: "GET"
            }).done(function (response) {
                if (response) {
                    var VMOptions = response.value;
                    console.log(VMOptions);

                    var VMSelect = $('#selRecVM');
                    VMSelect.empty();
                    VMSelect.append('<option value="">Select</option>');

                    $.each(VMOptions, function (index, availableVM) {
                        VMSelect.append($('<option></option>').val(availableVM.name).html(availableVM.name));
                    });

                }
                else {
                    console.error("Invalid server response:", response);
                    alert("Invalid server response. Please try again later.");
                }

                $('#RecVMSpinner').hide();
                console.log("Done");
            });
        });



        // this is to display table data when Recommended VM is selected....
        $('#selRecVM').change(function () {
            var selectedRecommendedVirtualMachine = $('#selRecVM').val();

            var RecVMTableData = $('#RecVMTableData');
            RecVMTableData.html('');

            $.ajax({
                url: '@Url.Action("GetRecommendedVirtualMachinesTableData", "Home")',
                data: { selectedRecommendedVirtualMachine: selectedRecommendedVirtualMachine },
                type: 'GET'
            }).done(function (response) {
                if (response) {
                    console.log(response);
                    var myoptions = response.items;
                    //console.log(myoptions);
                    var Html = '<div class="row"> <table class="table"> <tr> <th>Type</th> <th>Product Name</th> <th>Reservation Term</th> <th>Monthly Retail Price</th> <th>Region Name</th> </tr>';
                    $.each(myoptions, function (index, item) {

                        if (item.type == "DevTestConsumption") {
                            item.type = "Consumption";
                        }
                        if (item.type == "Consumption") {
                            reservationterm = "monthly";
                        }
                        else {
                            reservationterm = item.reservationTerm;
                        }
                        if (item.productName.indexOf("Windows") == -1) {
                            Html += '<tr><td>' + item.type + '</td><td>Linux</td><td>' + reservationterm + ' </td><td>$' + item.retailPrice + '</td><td>' + item.armRegionName + ' </td></tr> ';
                        }
                        else {
                            Html += '<tr><td>' + item.type + '</td><td>Windows</td><td>' + reservationterm + ' </td><td>$' + item.retailPrice + '</td><td>' + item.armRegionName + ' </td></tr> ';
                        }
                    });
                    Html += '</table></div>';
                    RecVMTableData.html(Html);
                }
                else {
                    console.error("Error fetching VM data.");
                    alert("Error fetching VM data. Please try again later.");
                }
            });
        });


    });


</script>